<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <script
      type="text/javascript"
      id="MathJax-script"
      async=""
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
    ></script>
    <link rel="stylesheet" href="https://latex.now.sh/style.css" />
    <link
      rel="stylesheet"
      href="../static/plugins/ep_simple_urls/static/expost.css"
    />
  </head>
  <body>
    <% if (title) { %>
    <h1><%- title %></h1>
    <% } %> <%- body %>
  </body>
</html>
